.top {
  background-image: url('../../assets/top-background.jpg');
  background-size: cover;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top h2 {
  color: #fff;
  text-align: center;
  font-weight: 100;
}

.categoryBrowse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #000;
}

h3 {
  font-size: 28px;
}

.categoriesContainer {
  display: grid;
  gap: 14px;
  margin: 20px 0;
}

.categoriesContainer > * {
  box-shadow: 1px 1px 5px #d6d6d6;
  padding: 18px;
  border-radius: 28px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.85;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.categoriesContainer > *:hover {
  cursor: pointer;
  box-shadow: 1px 2px 4px #b4b3b3;
}

.categoriesContainer img {
  width: 160px;
  height: 120px;
  object-fit: contain;
}

@media (min-width: 1100px) {
  .categoriesContainer {
    grid-template-columns: repeat(6, 160px);
  }
}
@media (max-width: 1099px) {
  .categoriesContainer {
    grid-template-columns: repeat(3, 160px);
  }
}
