.product {
  display: flex;
  flex-direction: column;
  gap: 4px;
  box-shadow: 1px 1px 5px #d6d6d6;
  padding: 18px;
  border-radius: 28px;
  justify-content: space-between;
}

.productDetails {
  display: flex;
  flex-direction: column;
}

.product h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  hyphens: auto;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.product img {
  align-self: center;
  max-width: 100%;
  object-fit: contain;
}

.quantityPicker {
  background-color: #ebebeb;
  border-radius: 50px;
  align-self: center;
  overflow: hidden;
}

.product button {
  background-color: #000;
  color: #fff;
}

.quantityPicker input {
  border: 0;
  width: 34px;
  background: transparent;
  text-align: center;
}

.addToBasketButton {
  margin-top: 5px;
  border-radius: 50px;
  padding: 8px 0;
}
